*.pyc
.vscode
temp*
outputs*
debug*
log*
view*
wandb*
*.bak
data
*build/*
*__pycache__*
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.so
dataset
submodules
tmp
account.json
output
outputs
outputs_*
train_jung.py
train_log.py
data.zip
data_*.zip
utils/compression_aware_utils.py